body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background-color: #f2f2f2;
}

b, h1, h2, h3, h4, h5, strong{
  font-weight: 700;
}

code {
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  text-decoration: none;
  opacity: 0.4;
}